# RNA-seq Analysis Notebook
## Overview
This notebook contains a guided walkthrough to building a simple pipeline for analysis of an RNA-seq dataset.

The pipeline described here consists of the following steps:
1. **Download** an RNA-seq dataset (ARCHS4)
2. **Normalize expression** data (Variance Stabilizing Transformation)
3. Perform **Dimensionality Reduction** (PCA and t-SNE)
4. Visualize the dataset as a **clustered heatmap** (Clustergrammer)
5. Perform **Differential Gene Expression Analysis** (limma and CD)
6. Perform **Enrichment analysis** (Enrichr)

## Load Packages

In [1]:
%%capture
# Python packages
import sys
import rpy2
import numpy as np
from plotly.offline import init_notebook_mode

# Initialize Plotly and R magic
%load_ext rpy2.ipython
%R require(limma)
%R require(edgeR)

# Custom scripts
sys.path.append('scripts')
import archs4
from plots import *
from signature import *

In [2]:
# Activate Plotly
init_notebook_mode()

# Set display option for pandas
pd.set_option('max_colwidth', -1)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

## 1. Download RNA-seq Dataset
Here we download RNA-seq datasets processed by ARCHS4.

The following datasets are suggested:
* **Nucleotide stress induction of HEXIM1 suppresses melanoma by modulating cancer cell-specific gene transcription** (GSE68053_GPL16791)
* **Potent and targeted activation of HIV-1 using the CRISPR/Cas9 activator Complex** (GSE72259_GPL16791)
* **EZH2 and BCL6 cooperate to assemble CBX8-BCOR Polycomb complex to repress bivalent promoters, mediate germinal center formation and promote lymphomagenesis** (GSE73109_GPL11154)
* **HEB associates with PRC2 and SMAD2/3 to regulate developmental fates** (GSE60285_GPL13112)
* **EGFR Mutation Promotes Glioblastoma Through Epigenome and Transcription Factor Network Remodeling** (GSE72468_GPL11154)
* **OSKM induce extraembryonic endoderm stem (iXEN) cells in parallel to iPS cells** (GSE77550_GPL17021)

A full list of datasets processed by ARCHS4 is available in the *archs4_datasets.txt* file.

In [5]:
# Fetch dataset from ARCHS4 server.  Insert code specified in brackets to extract specified dataset
reload(archs4)
rawcount_dataframe, sample_titles = archs4.fetch_dataset('GSE72468_GPL11154')
rawcount_dataframe.head()

,GSM1866102,GSM1866103,GSM1866104,GSM1866105,GSM1866106,GSM1866107,GSM1866108,GSM1866109,GSM1866110,GSM1866111,GSM1866112,GSM1866113,GSM1866114,GSM1866115,GSM1866138
ID_REF,,,,,,,,,,,,,,,
A1BG,305,364,183,380,238,431,39,44,18,31,128,178,112,142,257
A1CF,3,4,18,30,27,29,4,10,7,10,8,9,28,8,12
A2M,35171,38511,3156,4621,19654,4531,1,1,27,32,0,0,0,1,7718
A2ML1,646,545,112,90,82,306,5,2,0,5,5,5,7,12,95
A2MP1,19,10,14,11,26,22,0,0,1,1,0,0,0,2,38

In [6]:
# Display the raw readcount dataframe
rawcount_dataframe.head()

,GSM1866102,GSM1866103,GSM1866104,GSM1866105,GSM1866106,GSM1866107,GSM1866108,GSM1866109,GSM1866110,GSM1866111,GSM1866112,GSM1866113,GSM1866114,GSM1866115,GSM1866138
ID_REF,,,,,,,,,,,,,,,
A1BG,305,364,183,380,238,431,39,44,18,31,128,178,112,142,257
A1CF,3,4,18,30,27,29,4,10,7,10,8,9,28,8,12
A2M,35171,38511,3156,4621,19654,4531,1,1,27,32,0,0,0,1,7718
A2ML1,646,545,112,90,82,306,5,2,0,5,5,5,7,12,95
A2MP1,19,10,14,11,26,22,0,0,1,1,0,0,0,2,38

In [7]:
# Display the sample titles
sample_titles

{'GSM1866102': 'RNAseq_GBM_2493.RZY317 (GSM1866102)',
 'GSM1866103': 'RNAseq_GBM_2585.RZY318 (GSM1866103)',
 'GSM1866104': 'RNAseq_GBM_B39.RZY305 (GSM1866104)',
 'GSM1866105': 'RNAseq_GBM_P69.RZY308 (GSM1866105)',
 'GSM1866106': 'RNAseq_GBM_R28.RZY306 (GSM1866106)',
 'GSM1866107': 'RNAseq_GBM_S08.RZY307 (GSM1866107)',
 'GSM1866108': 'RNAseq_U87EGFRvIII_shFOXG1_1_withFBS.FL180 (GSM1866108)',
 'GSM1866109': 'RNAseq_U87EGFRvIII_shFOXG1_1_withoutFBS.FL181 (GSM1866109)',
 'GSM1866110': 'RNAseq_U87EGFRvIII_shSOX9_1_withFBS.FL182 (GSM1866110)',
 'GSM1866111': 'RNAseq_U87EGFRvIII_shSOX9_1_withoutFBS.FL183 (GSM1866111)',
 'GSM1866112': 'RNAseq_U87EGFRvIII_withFBS.RZY278 (GSM1866112)',
 'GSM1866113': 'RNAseq_U87EGFRvIII_withoutFBS.RZY277 (GSM1866113)',
 'GSM1866114': 'RNAseq_U87_withFBS.RZY276 (GSM1866114)',
 'GSM1866115': 'RNAseq_U87_withoutFBS.RZY275 (GSM1866115)',
 'GSM1866138': 'RNAseq_GBM_IDHmut-5661 (GSM1866138)'}

## 2. Normalization

Before proceeding with the analysis, we normalize the raw readcount dataset using the **voom** (voom) method, from the *limma* package in R.

In [ ]:
# Push the dataset to R
%Rpush rawcount_dataframe

# Normalize
%R voom_dataframe <- as.data.frame(voom(as.matrix(rawcount_dataframe)))

# Pull the dataset from R
%Rpull voom_dataframe

# Display
voom_dataframe.head()

## 3. Dimensionality Reduction

### 3.1 PCA
First, we perform a **Principal Components Analysis** (PCA) on the dataset, reducing it to two or three dimensions.  To achieve this, use the PCA function in the Python package *sklearn* - reference code is available at http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html.

In [ ]:
# Insert code to perform PCA here
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
pca.fit(voom_dataframe)

In [ ]:
# Display components
pca.components_

In [ ]:
# Plot using one of the following functions
# plot_2d_scatter(x, y)
plot_3d_scatter(x = pca.components_[0],
                y = pca.components_[1],
                z = pca.components_[2],
                color_by=sample_metadata_dataframe['condition'].tolist(),
                text=[sample_titles[x] for x in sample_metadata_dataframe.index],
                xlab = 'PC1 ({:.2%} var. explained)'.format(pca.explained_variance_ratio_[0]),
                ylab = 'PC1 ({:.2%} var. explained)'.format(pca.explained_variance_ratio_[1]),
                zlab = 'PC1 ({:.2%} var. explained)'.format(pca.explained_variance_ratio_[2]),
                title= '3D PCA')

### 3.2 t-SNE
Second, we perform **t-Distributed Stochastic Neighbor Embedding** (t-SNE) on the dataset, reducing it to two or three dimensions.  To achieve this, use the tsne function in the Python package *sklearn* - reference code is available at http://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html.

In [ ]:
# Insert code to perform t-SNE here

In [ ]:
# Plot

## 4. Clustergrammer
Next, we generate an **interactive clustered heatmap** to explore the most variable genes in the dataset.  To achieve this, we use the *Clustergrammer* package - reference code is available at http://clustergrammer.readthedocs.io/clustergrammer_widget.html#clustergrammer-widget-workflow-example.

In [ ]:
# Insert code to create widget here
# Steps: (1) create Network object, (2) load dataframe
#        (3) Z-score normalize the rows, (4) filter top 500 genes by variance
#        (5) cluster the heatmap, (6) display the widget

## 5. Differential Expression Analysis
Here we identify **Differentially Expressed Genes** (DEGs) using two approaches: limma and Characteristic Direction.  

To achieve this, we need to select two sets of samples:
* a group of *experimental / treated samples*
* a second group of *control / untreated samples*

### 1. limma
First, we perform the analysis using the *limma* R package.  Reference here https://bioconductor.org/packages/release/bioc/html/limma.html.

In [ ]:
# Set experimental design
experimental_samples = []
control_samples = []

In [ ]:
# Run limma using a Python wrapper
limma_dataframe = compute_signature(rawcount_dataframe,
                                    method = 'limma',
                                    experimental_samples = experimental_samples,
                                    control_samples = control_samples)

In [ ]:
# Explore results
limma_dataframe.head()

##### Volcano Plot
The Volcano plot is a common way to display results of a differential gene expression analysis.  It displays logFC on the x axis and log10(P-value) on the Y axis.

In [ ]:
# Create a volcano plot using the following function:
# plot_2d_scatter(x, y)

##### MA Plot
The MA plot is a second common way to display results of a differential gene expression analysis.  It displays average normalized expression on the x axis and logFC on the Y axis.

In [ ]:
# Create a MA plot using the following function:
# plot_2d_scatter(x, y)

### 2. Characteristic Direction
Second, we calculate a differential gene expression signature using the *Characteristic Direction* method, which has been shown to outperform other methods to identify DEGs in the context of transcription factor (TF) and drug perturbation responses (Clark et al, 2013, [link](https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-15-79)).

In [ ]:
# Run CD using a Python wrapper
cd_dataframe = compute_signature(rawcount_dataframe,
                                 method = 'CD',
                                 experimental_samples = experimental_samples,
                                 control_samples = control_samples)

In [ ]:
# Explore results
cd_dataframe.head()

## 6. Enrichment Analysis
We now use the differential gene expression signature computed with CD and perform **enrichment analysis** on the top most overexpressed and underexpressed genes using the *Enrichr* API.

Reference on how to use the API in Python here http://amp.pharm.mssm.edu/Enrichr/help#api.

##### 6.1 Calculate Upregulated and Downregulated genesets

In [ ]:
# Write code to extract gene lists for enrichment analysis
# Steps: (1) sort the genes by the CD value, (2) take the top 500 top and bottom genes

##### 6.2 Upload genesets to Enrichr using API

In [ ]:
# Upload genesets to Enrichr as shown in the manual.

Once the gene list has been submitted, you can view the enrichment results by appending the 'shortId' at the end of the following URL: http://amp.pharm.mssm.edu/Enrichr/enrich?dataset=.

## 7. Small Molecole Query
Finally, we use the differential gene expression signature computed with CD to identify **small molecules which mimic or reverse** the observed pattern using the *L1000CDS<sup>2</sup>* API.

Reference on how to use the API in Python here http://amp.pharm.mssm.edu/L1000CDS2/help/#api.

In [ ]:
# Upload genesets to L1000CDS2 as shown in the manual (gene-set search example).

Once the gene list has been submitted, you can view the results by appending the 'shareId' at the end of the following URL: http://amp.pharm.mssm.edu/L1000CDS2/#/result/.